// start product-page

.aside__category {
    max-width: 270px;
    background-color: #fff;
    padding: 25px;
    border: 1px solid rgb(215, 215, 215);
}

.aside__category-title {
    font-size: 20px;
    font-weight: 700;
    color: $color-bg;
    border-bottom: 1px solid #dde3e8;
    padding-bottom: 25px;
}

.aside__category-list {
    padding: 15px 0;
}

.aside__category-list li {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    padding-left: 20px;
    position: relative;
}
.aside__category-list li::before {
    content: "";
    background-image: url('../images/footer/arrows.png');
    background-repeat: no-repeat;
    display: block;
    width: 6px;
    height: 11px;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}
.aside__category-list a {
    color: $color-bg;
   
}
.aside__category-num {
    color: #90a4ae;
}

// end product-page