// start product-page aside
.product-page {
    padding: 40px 0 0;
    background-color: #f4f6f5;
   
}

.breadcrumbs__list li {
    display: inline-block;
}

.breadcrumbs__list a {
    color: #b0bec5;
    position: relative;
    padding-right: 15px;
}

.breadcrumbs__list {
    margin-bottom: 45px;

    .active {
        color: $color-bg;
    }
}

.breadcrumbs__list a:after {
    content: "";
    position: absolute;
    top: 12px;
    right: 5px;
    width: 4px;
    height: 1px;
    background-color: $green;
    display: block;
}
.product-page__aside {
    margin-right: 25px;
}
.aside__category,
.aside__range,
.aside__sellers {
    max-width: 270px;
    background-color: #fff;
    padding: 25px;
    border: 1px solid rgb(215, 215, 215);
    margin-bottom: 30px;
}

.aside__category-title,
.aside__range-title,
.aside__sellers-title {
    font-size: 20px;
    font-weight: 700;
    color: $color-bg;
    border-bottom: 1px solid #dde3e8;
    padding-bottom: 25px;
}

.aside__category-list {
    padding: 15px 0;
}

.aside__category-list li {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    padding-left: 20px;
    position: relative;
}

.aside__category-list li::before {
    content: "";
    background-image: url('../images/footer/arrows.png');
    background-repeat: no-repeat;
    display: block;
    width: 6px;
    height: 11px;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}

.aside__category-list a {
    color: $color-bg;

}

.aside__category-num {
    color: #90a4ae;
}

.form-aside__range button {
    margin-top: 50px;
    width: 100%;
    padding: 15px 20px;
    border: none;
    outline: none;
    color: #fff;
    background-color: $green;
    cursor: pointer;
}

.form-aside__range {
    position: relative;

    .icon-search {
        color: #fff;
        position: absolute;
        top: 105px;
        left: 55px;
    }
}

.irs--flat .irs-bar {
    background-color: $color-bg;
    height: 5px;
}

.irs--flat .irs-line {
    height: 5px;
}

.irs--flat .irs-handle {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    border: 3px solid $green;
    background-color: #fff;
    top: 20px;
}

.irs--flat .irs-handle>i:first-child {
    display: none;
}

.irs--flat .irs-max,
.irs--flat .irs-min {
    display: none;
}

.irs--flat .irs-from,
.irs--flat .irs-single,
.irs--flat .irs-to {
    color: #78909c;
    font-size: 15px;
    text-shadow: none;
    padding: 1px 5px;
    background-color: transparent;
    position: absolute;
}

.irs--flat .irs-from:before,
.irs--flat .irs-single:before,
.irs--flat .irs-to:before {
    display: none;
}

.irs-from,
.irs-single,
.irs-to {
    top: 45px;
}

.aside__sellers-images {
    padding: 30px 0 0;
}

.aside__sellers-img {
    min-height: 120px;
}

.aside__sellers-content {
    padding: 20px 0 0;
    border-bottom: none;
    height: 70px;

}

.aside__inner-info {
    padding: 10px 0 20px;
    border-bottom: 1px solid #dde3e8;

    .rate-star {
        margin-right: 0;
    }
}

.aside__sellers-btn {
    width: 100%;
    background-color: $green;
    padding: 10px;
    border: none;
    outline: none;
    color: #fff;
    cursor: pointer;
}

// end product-page aside



// start product-page__content
.product-page__content {
    width: 100%;
}
.product-page__wrapper {
    display: flex;
}

.product-page__filter {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: #fff;
    width: 100%;
    max-width: 870px;
}







// end product-page__content