@import 'vars';
@import 'global';
@import 'fonts';




// start header

.header__top {
    background-color: #fff;
}

.header__top-wrapper {
    display: flex;
    justify-content: space-between;
    height: 90px;
    align-items: center;
}
.header__menu {
    height: 60px;
    padding: 20px 0;
    background-color: #263238;
}
.menu__list li {
    display: inline-block;
}

.menu__list li + li {
    margin-left: 35px;
}
.menu__list a {
    color: #fff;
    font-size: 14px;
    font-weight: 500;
}
.header__text,
.header__text a {
    color: #546e7a;
}
.header__text span {
    color: #e74c3c;
}
.header__link-btn {
    width: 72px;
    height: 32px;
    border-radius: 3px;
    color: #fff;
    text-align: center;
    padding: 5px;
}

.first-btn {
        background-color: #8bc34a;
 }
.second-btn {
    background-color: #e74c3c;
}

// end header

// start market
.market {
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 530px;
    padding: 150px 0;
}
.market__content-title {
    font-size: 48px;
    line-height: 30px;
    color: #fff;
    font-weight: 700;
    margin-bottom: 30px;
    text-align: center;
}
.market___content-desc {
    font-size: 20px;
    line-height: 30px;
    color: #fff;
    font-weight: 500;
    text-align: center;
    margin-bottom: 50px;
}
.market___form {
    text-align: center;
}
.input-market {
    width: 670px;
    height: 55px;
    border: none;
    outline: none;
    padding: 20px 20px 20px 25px;
    border-radius: 3px;
   
}
.input-market::placeholder {
    font-size: 14px;
    font-weight: 500;
    color: #90a4ae;
}

// end market